<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--
      The applied sampling rate for calculating the signatures.

      The value should be in the range between 90 and 360.
    -->
    <add key="SignatureSamplingRate" value="360" />

    <!--
        Determines if all processed images should be written on the disk.

        This is useful, to check every processing steps for debugging reasons and to
        verify the applied algorithm. But if the application behaves as expected, it
        can produced undesired noise and should therefore be deactivated.
    -->
    <add key="WriteProcessedImagesToDisk" value="false" />

  </appSettings>
</configuration>